<launch>
    <arg name="launch_joint_state_merger" default="true"/>

    <!-- upload the robot model: LWR arm with WSG-50 gripper, tables, safety obstacles -->
    <param name="robot_description"
           command="$(find xacro)/xacro $(find tams_lwr_wsg50_description)/urdf/lwr_with_wsg50.xacro"/>


    <!-- The semantic description that corresponds to the URDF -->
    <include file="$(find tams_lwr_wsg50_moveit)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false"/>
    </include>


    <!-- ros_fri arm_controller (with kinematics plugin configured) -->
    <node name="lwr" pkg="ros_fri" type="ros_fri" output="screen">
        <remap from="joint_states" to="lwr/joint_states"/>

        <rosparam command="load" file="$(find tams_lwr_wsg50_moveit)/config/kinematics.yaml"/>
    </node>


    <!-- joint_state merger -->
    <group if="$(arg launch_joint_state_merger)">
        <node pkg="tams_lwr_wsg50_demos" type="joint_state_merger" name="joint_state_merger" output="log">
        </node>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="100.0"/>
            <param name="tf_prefix" type="string" value=""/>
        </node>
    </group>

</launch>
