<launch>

    <!-- The semantic description that corresponds to the URDF -->
    <param name="robot_description_semantic" textfile="$(find hydro_kuka_wsg50_moveit)/config/lwr_and_load.srdf"/>

    <node name="arm_controller" pkg="ros_fri" type="ros_fri" respawn="false" output="screen">
        <remap from="joint_states" to="wsg/joint_states"/>
    </node>

</launch>
