<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find tams_lwr_wsg50_description)/urdf/lwr_with_wsg50.xacro" />
  <rosparam>
    joint_state_controller:
      type: joint_state_controller/JointStateController
      publish_rate: 1000
    tool_force_torque_controller:
      type: force_torque_sensor_controller/ForceTorqueSensorController
      publish_rate: 1000
    lwr:
      type: position_controllers/JointTrajectoryController
      joints:
        - lwr_arm_0_joint
        - lwr_arm_1_joint
        - lwr_arm_2_joint
        - lwr_arm_3_joint
        - lwr_arm_4_joint
        - lwr_arm_5_joint
        - lwr_arm_6_joint
      joint_trajectory_action_node:
        joints:
          - lwr_arm_0_joint
          - lwr_arm_1_joint
          - lwr_arm_2_joint
          - lwr_arm_3_joint
          - lwr_arm_4_joint
          - lwr_arm_5_joint
          - lwr_arm_6_joint
<!--    lwr_velocity_controller:-->
<!--      type: "velocity_controllers/JointTrajectoryController"-->
<!--      joints:-->
<!--        - lwr_arm_0_joint-->
<!--        - lwr_arm_1_joint-->
<!--        - lwr_arm_2_joint-->
<!--        - lwr_arm_3_joint-->
<!--        - lwr_arm_4_joint-->
<!--        - lwr_arm_5_joint-->
<!--        - lwr_arm_6_joint-->
<!--      gains: # Required because we're controlling a velocity interface-->
<!--        lwr_arm_0_joint: {p: 100,  d: 1, i: 1, i_clamp: 1}-->
<!--        lwr_arm_1_joint: {p: 100,  d: 1, i: 1, i_clamp: 1}-->
<!--        lwr_arm_2_joint: {p: 100,  d: 1, i: 1, i_clamp: 1}-->
<!--        lwr_arm_3_joint: {p: 100,  d: 1, i: 1, i_clamp: 1}-->
<!--        lwr_arm_4_joint: {p: 100,  d: 1, i: 1, i_clamp: 1}-->
<!--        lwr_arm_5_joint: {p: 100,  d: 1, i: 1, i_clamp: 1}-->
<!--        lwr_arm_6_joint: {p: 100,  d: 1, i: 1, i_clamp: 1}-->
<!--#        constraints:-->
<!--#          goal_time: 0.2-->
  </rosparam>
  <node name="ros_fri_roscontrol" pkg="ros_fri" type="ros_fri_roscontrol" respawn="false" output="screen" required="true">
    <remap from="/joint_states" to="/lwr/joint_states" />
  </node>
  <node name="position_trajectory_controller" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="lwr tool_force_torque_controller joint_state_controller" required="true"/>
</launch>
