<?xml version="1.0"?>
<launch>

  <!-- Weiss/Schunk WSG-50 gripper with tactile fingers,
       plus Actionlib GripperCommandAction server.

       2016.06.30 - new
  -->

  <node name="wsg_50" pkg="wsg_50" type="wsg_50_tcp_tactile" output="screen">
    <param name="ip" type="string" value="192.168.0.20"/>
    <param name="port" type="int" value="1000"/>
    <param name="rate" type="double" value="10.0" />

    <remap from="joint_states" to="wsg_50/joint_states"/>
  </node>

  <node name="wsg_50_gripper_action_server" pkg="tams_lwr" type="gripper_action_server"
        output="screen" >
  </node>

</launch>
